.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1em;

  @media only screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
.error-wrapper {
  h1,
  img {
    margin-bottom: 5px;
  }
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}
