.card {
  h1,
  h2,
  h4,
  p {
    margin: 0;
  }
  mat-icon {
    margin-left: 5px;
  }
  img {
    width: 68px;
    justify-self: right;
  }
  &__time {
    justify-self: right;
  }
  &__time,
  p {
    display: flex;
    align-items: center;
  }
  background: #909993;
  padding: 30px;
  color: black;
  display: grid;
  border-radius: 10px;
  height: 170px;
  margin-bottom: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  align-items: center;
}

.card-clouds {
  background: #8c95a5;
  color: white;
}
.card-clear {
  background: #fde1cc;
  color: black;
}
.card-rain {
  background: #6dc1ff;
  color: white;
}
.card-thunderstorm,
.card-drizzle {
  background: #003366;
}

.card-snow {
  background: #e7e7e5;
  color: black;
}
