/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

$main-typography: mat.define-typography-config(
  $font-family: "Montserrat",
);

// Now we have sweet buttons with Comic Sans.
@include mat.core($main-typography);
